.container {
  text-align: center;
  margin-top: 6rem;
  padding-left: 40%;
  padding-right: 40%;
}

.contact-form {
  margin: auto;
  max-width: 50rem;
}

.contact-inputs {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

input[type="submit"] {
    cursor: pointer;
    transition: all 0.2s;
    background-color: blueviolet;
    color: whitesmoke;
    border: none;
    border-radius: 5px;
    padding: 2%;
    font-size: 20px;
  }

.google-map{
    display: block;
    float: left;
  }
